<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="javax.xml.binding">
    <resources>
        <resource-root path="jaxb-api-2.2.6.jar"/>
        <resource-root path="jaxb-impl-2.2.6.jar"/>
    </resources>

    <dependencies>
    	<module name="javax.api"/>
    </dependencies>
</module>
