<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="bootstrap.infinispan.football.memcached">

    <main-class name="org.infinispan.demo.football.memcached.FootballManager"/>
    
    <!--  
    <resources>
        <resource-root path="bootstrap.jar"/>
    </resources>
-->
    <dependencies>
    	<module name="javax.api" export="true"/>
    	<module name="org.infinispan.demo.memcached" services="import"/>
    </dependencies>
</module>
