<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.kylin.jbosscache">

    <resources>
        <resource-root path="jbosscache-helloworld-1.0.jar"/>
    </resources>

    <dependencies>
    	<module name="javax.api"/>
    	<module name="org.jboss.cache" services="import"/>
    	<module name="bsh" services="import"/>
    	<module name="com.customized.tools.cli" services="import"/>
    	<module name="org.apache.log4j" services="import"/>
    </dependencies>
</module>
