<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="bootstrap.infinispan">

    <main-class name="bootstrap.infinispan.Main"/>
    
    <resources>
        <resource-root path="bootstrap.jar"/>
    </resources>

    <dependencies>
    	<module name="javax.api" export="true"/>
    	<module name="com.kylin.infinispan.datagrid" services="import"/>
    	<module name="org.apache.log4j" services="import"/>
    </dependencies>
</module>
